* { border: 1px solid rgb(0, 0, 0); }

html {
    height: 100vh;
}

body{
    height: auto;
    min-height: 100vh;
}

.header {
    padding: 10px 200px;
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}


.header ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0; 
    gap: 16px;
    align-items: center;
}

.header p {
    font-size: 24px;
    color: #f9faf8;
}

.header a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}