* { border: 1px solid rgb(0, 0, 0); }

html {
    height: 100vh;
}

body{
    height: auto;
    min-height: 100vh;
    margin: 0;
}

.header {
    padding: 0px 200px 10px;
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}


.header ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 5px 0px 0px; 
    gap: 16px;
}

.header p {
    margin-top: 5px;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.start-content {
    padding: 50px 200px 70px;
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}

.intro-message,
.image-box {
    width: 600px;
    height: auto;
}

.intro-message p {
    width: 50%;
    margin: 0;
    font-size: 18px;
    color: #e5e7eb;
}

.intro-message h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.button {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: #3882f6;
    width: auto;
    color: #e5e7eb;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 15px;
}

.image-box {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: #e5e7eb;
}

.body-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 24px;
    display: flex;
    justify-content: center;
}

.body-content {
    display: flex;
    justify-content: center;
    gap: 52px;
    text-align: center;
}

.info-img {
    height: 100px;
    padding: 32px;
    margin-bottom: 2px;
    border: 3px solid #3882f6;
    border-radius: 25px;
}

.body-content p {
    margin-top: 0px;
}
.body-info {
    max-width: 200px;
}

.quote-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    padding: 40px;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    width: 20em;
}

.quote-name {
    display: flex;
    justify-content: flex-end;
    width: 45em;
    font-weight: bold;
}

.action-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.action-content {
    display: flex;
    padding: 40px 70px;
    gap: 60px;
    background-color: #3882f6;
    border-radius: 5px;
    width: 45em;
    justify-content: space-evenly;
}

.action-text {
    color: #e5e7eb;
}

.action-headline {
    font-size: 20px;
    font-weight: bold;
}

.act-smalltext {
    font-size: 14px;
}

.action-button {
    display:flex;
    justify-content: center;
    align-items: center;
}

.action-button .button {
    border: 1px solid #ffffff;
}